* {
  font-family: Arial;
}

html,
body {
  background: linear-gradient(126.39deg, #a1c4fd 15.98%, #c2e9fb 112.5%);
}

th {
  padding-left: 5px;
  padding-right: 5px;
}

.description_table_row {
  height: 36px;
}

.total_table {
  width: 100%;
}

.total_table_header {
  width: 30%;
}

.total_table_percent {
  width: 5%;
}

.total_table_calculate {
  width: 20%;
  font-weight: 400;
  font-size: 16px;
}

input:hover {
  background-color: #f9fafe;
}

textarea:hover {
  background-color: #f9fafe;
}
