td,
th {
  border: 1px solid #ced5d2;
}

th {
  padding-left: 5px;
  padding-right: 5px;
}

.description_table_row {
  height: 36px;
}

.total_table {
  width: 100%;
}

.total_table_header {
  width: 10%;
}

.total_table_percent {
  width: 5%;
}

.total_table_calculate {
  width: 10%;
}
